{% extends '../layout.html' %}

{% block title %}Аяқталмағандар{% endblock title %}

{% block game_tasks_layout %}
    {% if game_tasks %}
        <div class="grid">
            {% for item in game_tasks %}
                <a
                    href="{% url 'dashboard:game_task_edit' item.pk %}"
                    class="flex justify-between items-center gap-4 p-2 border-b border-border-200 transition-all group hover:bg-primary-50"
                >
                    <div class="aspect-square rounded-xl p-2 flex justify-center items-center bg-primary-50">
                        <lord-icon
                            src="https://cdn.lordicon.com/xzvgfwwv.json"
                            trigger="hover"
                            colors="primary:#ebe6ef,secondary:#4f46e5"
                            style="width: 48px; height: 48px;">
                        </lord-icon>
                    </div>

                    <div class="flex-1 grid gap-1">
                        <h4 class="font-medium">#{{ item.id }}-ойын тапсырмасы</h4>
                        <div class="flex">
                            <div class="px-2 py-1 text-xs rounded-xl bg-amber-500 text-white">
                                <span>{{ item.get_status_display }}</span>
                            </div>
                        </div>
                    </div>

                    <button 
                        type="button"
                        class="hidden p-2 rounded-xl cursor-pointer transition-all text-muted group-hover:flex hover:bg-primary-100 active:scale-95 focus:ring-2 focus:ring-primary-600"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical">
                            <circle cx="12" cy="12" r="1" />
                            <circle cx="12" cy="5" r="1" />
                            <circle cx="12" cy="19" r="1" />
                        </svg>
                    </button>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="flex justify-center">
            <div class="grid gap-2 py-16">
                <lord-icon
                    src="https://cdn.lordicon.com/ikagbcik.json"
                    trigger="loop"
                    colors="primary:#f5f5f5,secondary:#d4d4d4"
                    style="width:128px; height:128px"
                    class="mx-auto"    
                >
                </lord-icon>
                <span class="text-muted">Әлі бірде бір ойын тапсырмасы жасалмаған</span>
            </div>
        </div>
    {% endif %}
{% endblock game_tasks_layout %}