{% extends 'base.html' %}
{% load static %}

{% block title %}Триумф{% endblock title %}

{% block base %}
<div class="min-h-screen flex items-center justify-center py-8 px-4">
    <div class="w-full max-w-md space-y-8">
        <!-- 🏆 TOP 3 -->
        <div class="grid grid-cols-3 gap-2">
            {% for w in winners %}
                {% with p=w.p place=w.place %}
                    <div class="
                        relative rounded-2xl p-4 text-center
                        {% if place == 1 %}bg-amber-300{% elif place == 2 %}bg-slate-200{% else %}bg-amber-500{% endif %}
                        {% if place != 1 %}translate-y-4{% endif %}
                    ">
                        <div class="
                            absolute -top-10 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-center items-center
                            {% if place == 1 %}text-amber-400{% elif place == 2 %}text-slate-400{% else %}text-amber-700{% endif %}
                        ">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M5.166 2.621v.858c-1.035.148-2.059.33-3.071.543a.75.75 0 0 0-.584.859 6.753 6.753 0 0 0 6.138 5.6 6.73 6.73 0 0 0 2.743 1.346A6.707 6.707 0 0 1 9.279 15H8.54c-1.036 0-1.875.84-1.875 1.875V19.5h-.75a2.25 2.25 0 0 0-2.25 2.25c0 .414.336.75.75.75h15a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-2.25-2.25h-.75v-2.625c0-1.036-.84-1.875-1.875-1.875h-.739a6.706 6.706 0 0 1-1.112-3.173 6.73 6.73 0 0 0 2.743-1.347 6.753 6.753 0 0 0 6.139-5.6.75.75 0 0 0-.585-.858 47.077 47.077 0 0 0-3.07-.543V2.62a.75.75 0 0 0-.658-.744 49.22 49.22 0 0 0-6.093-.377c-2.063 0-4.096.128-6.093.377a.75.75 0 0 0-.657.744Zm0 2.629c0 1.196.312 2.32.857 3.294A5.266 5.266 0 0 1 3.16 5.337a45.6 45.6 0 0 1 2.006-.343v.256Zm13.5 0v-.256c.674.1 1.343.214 2.006.343a5.265 5.265 0 0 1-2.863 3.207 6.72 6.72 0 0 0 .857-3.294Z"
                                        clip-rule="evenodd" />
                                </svg>
                                <span class="block font-bold whitespace-nowrap">{{ place }}-орын</span>
                            </div>
                        </div>

                        <div class="w-16 h-16 mx-auto aspect-square flex items-center justify-center rounded-full border-2 border-primary-200 text-2xl font-black bg-primary-600 text-white">
                            {{ p.nickname|first }}
                        </div>

                        <div class="space-y-2 text-center">
                            <h5 class="text-base font-bold line-clamp-1">{{ p.nickname }}</h5>
                            <div class="flex gap-1 justify-center items-center">
                                <span class="flex items-center gap-1 py-1 px-1.5 rounded-xl bg-secondary-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="text-amber-500" viewBox="0 0 24 24" fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    <span class="text-xs font-bold">{{ p.score }}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>

        <!-- Leaderboard -->
        <ul class="space-y-2">
            {% for p in participants %}
                <li class="flex items-center justify-between rounded-xl border border-border-200 py-2 px-4 hover:bg-primary-50">
                    <div class="flex gap-2 items-center">
                        <h4 class="font-bold">{{ forloop.counter }}.</h4>
                        <div class="flex gap-2 items-center">
                            <div class="w-8 h-8 flex items-center justify-center rounded-full border-2 border-primary-200 font-black bg-primary-600 text-white">
                                {{ p.nickname|first }}
                            </div>
                            <h4 class="font-bold">{{ p.nickname }}</h4>
                            <span class="text-primary-600 text-xs font-medium">{% if p.id == participant.id %}(Сіз){% endif %}</span>
                        </div>
                    </div>
                    
                    <div class="flex gap-1 items-center">
                        <span class="flex items-center gap-1 py-1 px-1.5 rounded-xl bg-secondary-100">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="text-amber-500" viewBox="0 0 24 24" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                                        clip-rule="evenodd" />
                                </svg>
                            <span class="text-xs font-bold">{{ p.score }}</span>
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <!-- {# Next step: feedback #} -->
    </div>
</div>


<div>
    <span
        id="triumph-trigger"
        data-sound="finish"
        data-confetti="1"
        class="hidden">
    </span>
    <audio id="sfx-finish" src="{% static 'sounds/finish.mp3' %}" preload="auto"></audio>
</div>

<script>
    (function () {
        let played = false;

        function runTriumphEffects() {
            const trigger = document.getElementById('triumph-trigger');
            if (!trigger || played) return;

            played = true;

            // 🔊 sound
            const sound = document.getElementById('sfx-finish');
            if (sound) {
                sound.currentTime = 0;
                sound.play().catch(() => { });
            }

            // 🎉 confetti
            launchConfetti();
        }

        document.addEventListener('DOMContentLoaded', runTriumphEffects);
    })();


    function launchConfetti() {
        const count = 150;
        const duration = 1200;
        const end = Date.now() + duration;

        (function frame() {
            confetti({
                particleCount: 5,
                spread: 80,
                startVelocity: 30,
                origin: {
                    x: Math.random(),
                    y: Math.random() * 0.4
                }
            });

            if (Date.now() < end) {
                requestAnimationFrame(frame);
            }
        })();
    }
</script>
{% endblock base %}