{% extends 'layouts/teacher_layout.html' %}

{% block title %}Басқару панелі{% endblock title %}


{% block teacher_layout %}
<div class="max-w-screen-lg mx-auto grid gap-8 p-4">
    <div class="w-full grid gap-8 items-start">
        <!-- Ойын тапсырмалары -->
        <div class="space-y-2">
            <a 
                href="#" 
                class="inline-flex items-center pl-3 pr-1 py-1 rounded-xl text-subtle transition-all hover:bg-primary-50 hover:text-primary-600 active:scale-95"
            >
                <h4 class="">Ойындар</h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-chevron-right-icon lucide-chevron-right">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </a>

            <div class="grid gap-2 grid-cols-4">
                <div class="h-48 rounded-xl bg-primary-50 border border-border-200 transition-all cursor-pointer hover:shadow"></div>
                <div class="h-48 rounded-xl bg-primary-50 border border-border-200 transition-all cursor-pointer hover:shadow"></div>
                <div class="h-48 rounded-xl bg-primary-50 border border-border-200 transition-all cursor-pointer hover:shadow"></div>
                <div class="h-48 rounded-xl bg-primary-50 border border-border-200 transition-all cursor-pointer hover:shadow"></div>
            </div>
        </div>

        <!-- Сыныптар мен оқушылар -->
        <div class="space-y-2">
            <a 
                href="{% url 'teacher_classes' %}" 
                class="inline-flex items-center pl-3 pr-1 py-1 rounded-xl text-subtle transition-all hover:bg-primary-50 hover:text-primary-600 active:scale-95"
            >
                <h4 class="">Сыныптар</h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-chevron-right-icon lucide-chevron-right">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </a>
            {% if classes %}
                <div class="grid gap-2 grid-cols-4">
                    {% for item in classes %}
                        <a
                            href="{% url 'teacher_class' item.id %}"
                            class="
                                grid gap-2 rounded-xl overflow-hidden border border-border-200 transition-all 
                                hover:shadow active:scale-95 cursor-pointer
                            "
                        >
                            <div class="flex justify-center items-center p-6 text-primary-600 bg-primary-100">
                                <h1 class="text-6xl font-black">{{ item.grade }}{{ item.letter }}</h1>
                            </div>
                            <div class="grid gap-4 py-2 px-2">
                                <div class="grid gap-1">
                                    <h3 class="text-base font-medium px-2">{{ item.school_class }}</h3>
                                    {% if item.teacher_class_subjects %}
                                        <div class="flex gap-1">
                                            {% for cs in item.teacher_class_subjects %}
                                                <div class="border border-border-200 bg-white rounded-xl px-2 py-1 text-xs text-muted">{{ cs.subject.name }}</div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="flex gap-2 justify-between">
                                    <div
                                        title="{{ teacher.user.get_full_name }}"
                                        class="relative w-8 h-8 rounded-full overflow-hidden border-2 border-primary-200"
                                    >
                                        {% if teacher.user.avatar %}
                                            <img 
                                                src="{{ teacher.user.avatar.url }}" 
                                                class="w-full h-full" 
                                                alt="{{ teacher.user.get_full_name }}"
                                            />
                                        {% else %}
                                            <div class="w-full h-full bg-primary-600 flex items-center justify-center text-xs text-white">
                                                {{ teacher.user.first_name|first|upper }}{{ teacher.user.last_name|first|upper }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div
                                        title="Оқушылар"
                                        class="inline-flex -space-x-4 rtl:space-x-reverse"
                                    >
                                        {% for learner in item.learners.all %}
                                            <div class="w-8 h-8 overflow-hidden border-2 border-primary-200 rounded-full">
                                                {% if learner.user.avatar %}
                                                    <img 
                                                        class="w-full h-full"
                                                        src="{{ learner.user.avatar.url }}" 
                                                        alt="{{ leaner.user.get_full_name }}"
                                                    />
                                                {% else %}
                                                    <div class="w-full h-full flex items-center justify-center text-xs">
                                                        {{ learner.user.first_name|first|upper }}{{ learner.user.last_name|first|upper }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                        <div  
                                            class="
                                                flex items-center justify-center w-8 h-8 text-xs font-medium text-white 
                                                bg-primary-600 border-2 border-primary-200 rounded-full
                                            "
                                        >
                                            {{ item.learners.count }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock teacher_layout %}