{% extends 'base.html' %}

{% block title %}{{ participant.nickname }}{% endblock %}

{% block base %}
<div class="h-screen">
    <header class="sticky top-0 z-10 w-full bg-white border-b border-border-200">
        <div class="flex justify-between items-center p-4">
            <div>
                <h3 class="font-bold text-xl">{{ game_task.name }}</h3>
                <p class="text-xs text-slate-400">
                    Сұрақ {{ index }} / {{ total_questions }}
                </p>
            </div>


        </div>
    </header>

    <div class="h-full flex justify-center items-center">
        <div class="w-full max-w-2xl p-4">
            <div id="question-container"
                class="bg-white rounded-2xl p-4">
                <div
                    hx-get="{% url 'main:gameplay_question' participant.token %}"
                    hx-trigger="load"
                    hx-target="#question-container"
                    hx-swap="innerHTML"
                >
                    <p class="text-muted">Сұрақ жүктелуде...</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock base %}
