{% extends '../layout.html' %}

{% block title %}Сұрақтар{% endblock title %}

{% block layout %}
<div class="grid gap-4">
    <div class="grid gap-2" x-data="{ open: null }">
        {% for item in questions %}
            <div class="border border-border-200 rounded-xl">
                <button
                    class="flex justify-between items-center w-full px-4 py-2 text-left cursor-pointer"
                    @click="open === {{ item.id }} ? open = null : open = {{ item.id }}"
                >
                    <div class="flex-1 grid gap-1">
                        <h6 class="flex gap-2 items-center font-medium">{{ item.order }}. {{ item.question.body|safe }}</h6>
                        <div class="flex items-start gap-1">
                            <span class="flex items-center gap-1 px-1.5 py-0.5 border border-border-200 rounded-xl text-xs text-muted">
                                {{ item.question.format }} <span class="w-0.5 h-0.5 rounded-full bg-muted"></span> {{ item.question.variant }}
                            </span>
                            <span class="flex px-1.5 py-0.5 border border-border-200 rounded-xl text-xs text-muted">
                                {{ item.question.question_limit }}сек
                            </span>
                            <span class="
                                flex rounded-xl px-1.5 py-0.5 text-xs border
                                {% if item.question.level == 'easy' %}border-green-200 bg-green-100 text-green-600
                                {% elif item.question.level == 'medium' %}border-amber-200 bg-amber-100 text-amber-600
                                {% elif item.question.level == 'hard' %}border-red-200 bg-red-100 text-red-600{% endif %}
                            ">
                                {{ item.question.get_level_display }}
                            </span>
                        </div>
                    </div>
                    <svg
                        :class="open === {{ item.id }} ? 'rotate-180' : ''"
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chevron-down-icon lucide-chevron-down transform transition-all">
                        <path d="m6 9 6 6 6-6" />
                    </svg>
                </button>

                <div
                    x-show="open === {{ item.id }}"
                    x-collapse
                    class="grid grid-cols-1 lg:grid-cols-2 border-t border-border-200 rounded-b-xl overflow-hidden"
                >
                    {% for option in item.question.options.all %}
                        <div class="flex items-start gap-2 py-2 px-4 hover:bg-primary-50">
                            {% if option.is_correct %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="lucide lucide-circle-check-icon lucide-circle-check text-emerald-700">
                                    <circle cx="12" cy="12" r="10" />
                                    <path d="m9 12 2 2 4-4" />
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-icon lucide-circle text-destructive">
                                    <circle cx="12" cy="12" r="10" />
                                </svg>
                            {% endif %}
                            <span>{{ option.answer|safe }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock layout %}