{% extends 'layouts/teacher_layout.html' %}


{% block title %}Сыныптар{% endblock title %}


{% block teacher_layout %}
<div class="max-w-screen-lg mx-auto p-4">
    <div class="grid gap-4 md:gap-8">
        <div class="flex gap-1 items-center w-full overflow-x-auto">
            <a 
                href="{% url 'teacher_dashboard' %}" 
                class="inline-flex items-center px-3 py-1 rounded-xl text-subtle transition-all hover:bg-primary-50 hover:text-primary-600 active:scale-95"
            >
                <h4 class="whitespace-nowrap">Басты бет</h4>
            </a>
            <div class="text-subtle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-chevron-right-icon lucide-chevron-right">
                    <path d="m9 18 6-6-6-6" />
                </svg>
            </div>
            <h4 class="inline-flex items-center px-2 py-1 rounded-xl text-subtle whitespace-nowrap">Сыныптар</h4>
        </div>
        
        <!-- Оқытушы сыныптары -->
        {% if teacher_classes %}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2">
                {% for item in teacher_classes %}
                    <a
                        href="{% url 'teacher_class' item.id %}"
                        class="flex items-start md:grid gap-2 rounded-xl border border-border-200 transition-all hover:shadow active:scale-95 cursor-pointer"
                    >
                        <div 
                            class="
                                flex justify-center items-center p-6 text-primary-600 bg-primary-100 
                                w-24 md:w-auto rounded-tl-xl rounded-bl-xl md:rounded-tr-xl md:rounded-bl-none
                            "
                        >
                            <h1 class="text-2xl md:text-6xl font-black">{{ item.grade }}{{ item.letter }}</h1>
                        </div>
                        <div class="grid gap-4 p-2">
                            <div class="grid gap-1">
                                <h3 class="text-base font-medium px-2">{{ item.school_class }}</h3>
                                {% if item.teacher_class_subjects %}
                                    <div class="flex gap-1">
                                        {% for cs in item.teacher_class_subjects %}
                                            <div class="border border-border-200 bg-white rounded-xl px-2 py-1 text-xs text-muted">{{ cs.subject.name }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="hidden md:flex gap-2 justify-between">
                                <div x-data="{ show: false }" class="relative inline-block">
                                    <div
                                        @mouseenter="show = true"
                                        @mouseleave="show = false"
                                        class="relative w-8 h-8 rounded-full overflow-hidden border-2 border-primary-200"
                                    >
                                        {% if item.homeroom_teacher %}
                                            {% if item.homeroom_teacher.user.avatar %}
                                                <img 
                                                    src="{{ item.homeroom_teacher.user.avatar.url }}" 
                                                    class="w-full h-full" 
                                                    alt="{{ item.homeroom_teacher.user.get_full_name }}"
                                                />
                                            {% else %}
                                                <div class="w-full h-full bg-primary-600 flex items-center justify-center text-xs text-white">
                                                    {{ item.homeroom_teacher.user.first_name|first|upper }}{{ item.homeroom_teacher.user.last_name|first|upper }}
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="w-full h-full flex justify-center items-center text-muted">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                                    class="lucide lucide-circle-question-mark-icon lucide-circle-question-mark">
                                                    <circle cx="12" cy="12" r="10" />
                                                    <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3" />
                                                    <path d="M12 17h.01" />
                                                </svg>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div 
                                        x-show="show" 
                                        x-transition:enter="transition ease-out duration-200"
                                        x-transition:enter-start="opacity-0 -translate-y-1"
                                        x-transition:enter-end="opacity-100 translate-y-0"
                                        x-transition:leave="transition ease-in duration-150"
                                        x-transition:leave-start="opacity-100 translate-y-0"
                                        x-transition:leave-end="opacity-0 -translate-y-1"
                                        class="
                                            absolute left-1/2 -translate-x-1/2 bottom-full z-50
                                            mb-2 bg-foreground text-white text-sm px-4 py-2 rounded-lg shadow-lg whitespace-nowrap
                                        "
                                    >
                                        {% if item.homeroom_teacher %}
                                            Сынып жетекшісі: {{ item.homeroom_teacher.user.get_full_name }}
                                        {% else %}
                                            Сынып жетекшісі тағымдалмаған
                                        {% endif %}
                                        <div class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-2 h-2 bg-foreground rotate-45"></div>
                                    </div>
                                </div>


                                <div x-data="{ show: false }" class="relative inline-block">
                                    <div 
                                        @mouseenter="show = true"
                                        @mouseleave="show = false"
                                        class="inline-flex -space-x-4 rtl:space-x-reverse"
                                    >
                                        {% for learner in item.learners.all|slice:":3" %}
                                            <div class="w-8 h-8 overflow-hidden border-2 border-primary-200 rounded-full bg-white">
                                                {% if learner.user.avatar %}
                                                    <img 
                                                        class="w-full h-full"
                                                        src="{{ learner.user.avatar.url }}" 
                                                        alt="{{ learner.user.get_full_name }}"
                                                    />
                                                {% else %}
                                                    <div class="w-full h-full flex items-center justify-center text-xs">
                                                        {{ learner.user.first_name|first|upper }}{{ learner.user.last_name|first|upper }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                        <div  
                                            class="
                                                flex items-center justify-center w-8 h-8 text-xs font-medium text-white 
                                                bg-primary-600 border-2 border-primary-200 rounded-full
                                            "
                                        >
                                            +{{ item.learners.count }}
                                        </div>
                                    </div>

                                    <div 
                                        x-show="show" 
                                        x-transition:enter="transition ease-out duration-200"
                                        x-transition:enter-start="opacity-0 -translate-y-1"
                                        x-transition:enter-end="opacity-100 translate-y-0"
                                        x-transition:leave="transition ease-in duration-150"
                                        x-transition:leave-start="opacity-100 translate-y-0"
                                        x-transition:leave-end="opacity-0 -translate-y-1"
                                        class="
                                            absolute left-1/2 -translate-x-1/2 bottom-full z-50
                                            mb-2 bg-foreground text-white text-sm px-4 py-2 rounded-lg shadow-lg whitespace-nowrap
                                        "
                                    >
                                        {{ item.learners.count }} оқушы
                                        <div class="absolute -bottom-1 left-1/2 -translate-x-1/2 w-2 h-2 bg-foreground rotate-45"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Мектеп сыныптары -->
        {% if school_classes %}
            <div class="grid gap-4 mt-4 md:mt-8">
                <div class="grid gap-2 md:flex justify-between items-center">
                    <h2 class="text-lg font-medium">Мектеп сыныптары</h2>
                    <form 
                        hx-get="{% url 'teacher_classes' %}"
                        hx-target="#school-classes"
                        hx-trigger="change"
                        hx-include="this"    
                        class="flex gap-2"
                    >
                        <select 
                            name="grade"
                            class="border border-border-200 rounded-lg px-2 py-1 text-subtle"
                        >
                            <option value="">Сынып</option>
                            {% for item in grades %}
                                <option 
                                    value="{{ item.id }}" 
                                    {% if selected_grade == item.id|stringformat:'s' %}selected{% endif %}
                                >
                                    {{ item.grade }}
                                </option>
                            {% endfor %}
                        </select>

                        <select 
                            name="letter"
                            class="border border-border-200 rounded-lg px-2 py-1 text-subtle"
                        >
                            <option value="">Литтер</option>
                            {% for item in letters %}
                                <option 
                                    value="{{ item.id }}" 
                                    {% if selected_letter == item.id|stringformat:'s' %}selected{% endif %}
                                >
                                    {{ item.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div id="school-classes">
                    {% include './_school_classes_list.html' %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock teacher_layout %}
