{% extends 'layouts/teacher_layout.html' %}

{% block title %}{{ game_task }}{% endblock title %}

{% block teacher_layout %}
<div class="max-w-screen-lg w-full mx-auto p-4">
    <div class="flex items-start justify-between border-b border-border-200 py-8">
        <div class="flex items-start gap-4">
            <div class="w-36 h-36 flex justify-center items-center rounded-xl bg-primary-50">
                <lord-icon
                    src="https://cdn.lordicon.com/xzvgfwwv.json"
                    trigger="loop"
                    colors="primary:#ebe6ef,secondary:#4f46e5"
                    style="width:128px; height: 128px">
                </lord-icon>
            </div>
            <div class="grid gap-2 items-start">
                <h1 class="text-2xl font-medium">#{{ game_task.id }} {{ game_task }}</h1>
                <div>
                    <span class="text-muted bg-secondary-100 py-1 px-2 rounded-xl">{{ game_task.activity.get_activity_type_display }}</span>
                </div>
            </div>
        </div>

        <div class="grid gap-2">
            <a 
                href="#"
                class="flex items-center gap-2 px-4 py-2 rounded-xl bg-primary-600 text-white cursor-pointer transition-all hover:bg-primary-700 active:scale-95"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-presentation-icon lucide-presentation">
                    <path d="M2 3h20" />
                    <path d="M21 3v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V3" />
                    <path d="m7 21 5-5 5 5" />
                </svg>
                <span>Бақылау тақтасы</span>
                
            </a>
        </div>

    </div>
</div>
{% endblock teacher_layout %}
