{% extends 'layouts/teacher_layout.html' %}


{% block title %}Оқушылар{% endblock title %}


{% block teacher_layout %}
    <div class="max-w-screen-lg mx-auto grid gap-2 p-4">
        <h4 class="font-medium">Оқушылар</h4>
        <div class="grid gap-2">
            <div class="h-24 rounded-xl bg-primary-50 border border-border-200 transition-all cursor-pointer hover:shadow"></div>
            <div class="h-24 rounded-xl bg-primary-50 border border-border-200 transition-all cursor-pointer hover:shadow"></div>
            <div class="h-24 rounded-xl bg-primary-50 border border-border-200 transition-all cursor-pointer hover:shadow"></div>
            <div class="h-24 rounded-xl bg-primary-50 border border-border-200 transition-all cursor-pointer hover:shadow"></div>
        </div>
    </div>
{% endblock teacher_layout %}
