{% extends 'base.html' %}
{% load static %}


{% block base %}
<div class="flex flex-col h-screen">
    <div class="flex-1 grid items-center mx-auto h-full">
        <div class="p-4">
            <div class="sm:max-w-sm w-full grid gap-8 text-center">
                <div class="grid gap-2">
                    <div class="flex justify-center items-center">
                        <img src="{% static 'images/logo.svg' %}" class="w-24" alt="">
                    </div>
                    <span class="text-muted">Интерактивті, геймификацияланған және визуалды білім беру экожүйесі</span>
                </div>
                {% block base_layout %}
                {% endblock base_layout %}
            </div>
        </div>
    </div>
</div>
{% endblock base %}