{% extends "base.html" %}
{% load static %}


{% block base %}
<div class="min-h-screen flex items-center justify-center">
    <nav class="absolute top-2 left-2">
        {% block link %}
            <a href="{% url 'main:main' %}" class="flex items-center gap-2 p-2 rounded-xl hover:bg-neutral-secondary active:scale-90">
                <i class="ph ph-x size-6"></i>
            </a>
        {% endblock link %}
    </nav>
    <div class="w-full max-w-xl mx-auto py-8 px-4">
        {% block auth_layout %}
        {% endblock auth_layout %}
    </div>
</div>
{% endblock base %}