{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block base %}
<div class="">
    <nav class="fixed z-50 w-full border-b border-default bg-neutral-primary">
        <div class="max-w-7xl mx-auto flex items-center justify-between h-16 px-4">
            <a href="#" class="flex items-center gap-2">
                <img src="{% static 'images/logo.svg' %}" class="w-16 md:w-20" alt="Brand logo">
            </a>

            <!-- ... -->
        </div>
    </nav>

    <div class="w-full">
        {% block main_layout %}
        {% endblock main_layout %}
    </div>
</div>

{% endblock base %}
