{% extends 'base.html' %}
{% load static %}


{% block base %}
<div class="flex">
    <aside class="sticky top-0 w-72 h-screen hidden md:flex flex-col justify-between border-r border-border-200">
        <div class="grid gap-4">
            <div class="relative h-14 flex items-center justify-between px-4">
                <a 
                    href="{% if user.is_authenticated %}{% url 'manager_dashboard' %}{% else %}{% url 'main' %}{% endif %}"
                    class="inline-block border border-transparent transition-all active:border active:border-dashed active:border-muted active:scale-95"
                >
                    <img src="{% static 'images/full-logo.svg' %}" class="w-20" alt="">
                </a>

                <button type="button" class="text-muted p-2 rounded-xl transition-all hover:bg-secondary-100 cursor-pointer active:scale-95">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-panel-right-open-icon lucide-panel-right-open">
                        <rect width="18" height="18" x="3" y="3" rx="2" />
                        <path d="M15 3v18" />
                        <path d="m10 15-3-3 3-3" />
                    </svg>
                </button>
            </div>

            <ul class="grid gap-1 px-4">
                <li>
                    <a 
                        href="{% url 'manager_dashboard' %}"
                        class="flex gap-2 items-center px-4 py-2 rounded-xl transition-all hover:shadow-xs active:scale-95 active:shadow-none {% if request.path == '/manage/' %}bg-primary-500 text-white hover:bg-primary-600{% else %}hover:bg-secondary-100{% endif %}"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house">
                            <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" />
                            <path d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                        </svg>
                        <span class="block">Басты бет</span>
                    </a>
                </li>

                <li>
                    <a 
                        href="{% url 'manager_dashboard' %}"
                        class="flex gap-2 items-center px-4 py-2 rounded-xl transition-all hover:shadow-xs active:scale-95 active:shadow-none {% if request.path == '/manage/users/' %}bg-primary-500 text-white hover:bg-primary-600{% else %}hover:bg-secondary-100{% endif %}"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-user-round-icon lucide-user-round">
                            <circle cx="12" cy="8" r="5" />
                            <path d="M20 21a8 8 0 0 0-16 0" />
                        </svg>
                        <span class="block">Қолданушылар</span>
                    </a>
                </li>

                <li>
                    <a 
                        href="{% url 'manager_dashboard' %}"
                        class="flex gap-2 items-center px-4 py-2 rounded-xl transition-all hover:shadow-xs active:scale-95 active:shadow-none {% if request.path == '/manage/schools/' %}bg-primary-500 text-white hover:bg-primary-600{% else %}hover:bg-secondary-100{% endif %}"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-school-icon lucide-school">
                            <path d="M14 21v-3a2 2 0 0 0-4 0v3" />
                            <path d="M18 5v16" />
                            <path d="m4 6 7.106-3.79a2 2 0 0 1 1.788 0L20 6" />
                            <path d="m6 11-3.52 2.147a1 1 0 0 0-.48.854V19a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-5a1 1 0 0 0-.48-.853L18 11" />
                            <path d="M6 5v16" />
                            <circle cx="12" cy="9" r="2" />
                        </svg>
                        <span class="block">Мектептер</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="p-4">
            <button 
                id="dropdownUserAvatarButton" 
                data-dropdown-toggle="dropdownAvatar"
                data-dropdown-offset-distance="8"
                data-dropdown-placement="top"
                type="button"
                class="w-full flex items-start gap-2 transition-all hover:shadow-xs hover:bg-secondary-100 p-2 rounded-xl active:scale-95 cursor-pointer"
            >
                <div class="border-2 border-border-200 rounded-full">
                    {% if user.avatar %}
                        <img class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="user photo">
                    {% else %}
                        <div class="w-10 h-10 rounded-full bg-secondary-100 flex items-center justify-center text-foreground">
                            {{ user.first_name|first|upper }}{{ user.last_name|first|upper }}
                        </div>
                    {% endif %}
                </div>
                <div class="block text-left">
                    <h1 class="font-medium">{{ user.get_full_name }}</h1>
                    <span class="block text-sm">{{ user.email }}</span>
                </div>
            </button>

            <div 
                id="dropdownAvatar" 
                class="z-10 hidden bg-white p-2 rounded-xl overflow-hidden shadow-xs border border-border-200 w-64"
            >
                <ul class="" aria-labelledby="dropdownTopButton">
                    <li>
                        <a 
                            href="#"
                            class="flex gap-1 items-center px-4 py-2 rounded-xl transition-all hover:bg-secondary-100"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                class="lucide lucide-user-round-icon lucide-user-round">
                                <circle cx="12" cy="8" r="5" />
                                <path d="M20 21a8 8 0 0 0-16 0" />
                            </svg>
                            <span>Профиль</span>
                        </a>
                    </li>
                    <li>
                        <a 
                            href="#"
                            class="flex gap-1 items-center px-4 py-2 rounded-xl transition-all hover:bg-secondary-100"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                class="lucide lucide-settings-icon lucide-settings">
                                <path
                                    d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915" />
                                <circle cx="12" cy="12" r="3" />
                            </svg>
                            <span>Баптаулар</span>
                        </a>
                    </li>
                    <li>
                        <form action="{% url 'logout' %}">
                            <button 
                                type="submit" 
                                class="w-full flex gap-1 items-center px-4 py-2 rounded-xl transition-all cursor-pointer hover:bg-secondary-100"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out">
                                    <path d="m16 17 5-5-5-5" />
                                    <path d="M21 12H9" />
                                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                                </svg>
                                <span>Шығу</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    
    <div class="flex-1 flex flex-col">
        <header class="sticky top-0 h-14 z-20 bg-white"></header>

        <div class="w-full flex-1">
            {% block manager_layout %}
            {% endblock manager_layout %}
        </div>
    </div>

</div>
{% endblock base %}