{% extends 'layouts/base_layout.html' %}
{% load static %}

{% block title %}Oqu - білім берудің жаңа кезеңі{% endblock %}


{% block base_layout %}
<div class="relative">
    <div class="max-w-screen-2xl w-full mx-auto py-8 md:py-0 px-4">
        <div class="max-w-screen-lg w-full mx-auto grid lg:flex justify-center items-center">
            <dotlottie-wc
                src="https://lottie.host/23365106-5e80-4758-91d3-576bec16dca2/Ru4hhpoqEZ.lottie"
                class="mx-auto w-[280px] h-[280px] sm:w-[320px] sm:h-[320px] md:w-[420px] md:h-[420px] lg:w-[480px] lg:h-[480px] xl:w-[540px] xl:h-[540px] 2xl:w-[640px] 2xl:h-[640px]"
                autoplay
                loop
            ></dotlottie-wc>
            
            <div class="flex-1 grid gap-2 text-center">
                <div class="grid gap-4">
                    <canvas id="canvas" width="96px" height="96px" class="hidden md:block mx-auto"></canvas>
                    <img src="{% static 'images/logo-label.svg' %}" class="w-20 mx-auto" alt="OQU">
                </div>
                
                <div class="grid gap-4">
                    <p class="text-muted">
                        Интерактивті, геймификацияланған және визуалды білім беру экожүйесі
                    </p>

                    <div class="grid gap-2">
                        <a 
                            href="{% url 'register' %}" 
                            class="flex justify-center px-4 py-2 rounded-xl bg-primary-500 text-white font-medium transition-all hover:bg-primary-600 hover:shadow-md active:scale-95"
                        >
                            Жылдам тіркелу
                        </a>
                        <a 
                            href="{% url 'login' %}" 
                            class="flex justify-center px-4 py-2 rounded-xl border border-border-200 font-medium transition-all hover:shadow-md active:scale-95"
                        >
                            Менде аккаунт бар
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock base_layout %}