{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} | Oqu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% tailwind_css %}
</head>

<body class="font-roboto text-foreground text-base">
    {% if messages %}
        <div id="flash-messages" class="fixed z-50 top-10 left-1/2 -translate-1/2 flex flex-col gap-2">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="flash-item flex gap-2 items-center px-4 py-2 bg-white rounded-lg shadow transition-all duration-500">
                        <svg 
                            xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-circle-check-icon lucide-circle-check text-green-500">
                            <circle cx="12" cy="12" r="10" />
                            <path d="m9 12 2 2 4-4" />
                        </svg>
                        <span>{{ message }}</span>
                    </div>
                {% elif message.tags == 'error' or message.tags == 'danger' %}
                    <div class="flash-item flex gap-2 items-center px-4 py-2 bg-white rounded-lg shadow transition-all duration-500">
                        <svg 
                            xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" 
                            class="lucide lucide-ban-icon lucide-ban text-destructive">
                            <path d="M4.929 4.929 19.07 19.071" />
                            <circle cx="12" cy="12" r="10" />
                        </svg>
                        <span>{{ message }}</span>
                    </div>
                {% elif message.tags == 'warning' %}
                    <div class="flash-item flex gap-2 items-center px-4 py-2 bg-white rounded-lg shadow transition-all duration-500">
                        <svg 
                            xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-octagon-alert-icon lucide-octagon-alert">
                            <path d="M12 16h.01" />
                            <path d="M12 8v4" />
                            <path
                                d="M15.312 2a2 2 0 0 1 1.414.586l4.688 4.688A2 2 0 0 1 22 8.688v6.624a2 2 0 0 1-.586 1.414l-4.688 4.688a2 2 0 0 1-1.414.586H8.688a2 2 0 0 1-1.414-.586l-4.688-4.688A2 2 0 0 1 2 15.312V8.688a2 2 0 0 1 .586-1.414l4.688-4.688A2 2 0 0 1 8.688 2z" />
                        </svg>
                        <span>{{ message }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <script>
            document.querySelectorAll('.flash-item').forEach((el, index) => {
                setTimeout(() => {
                    el.style.transform = 'translateY(0)';
                    el.style.opacity = '1';
                }, 100 * index);

                // 5 секундтан кейін жоғалту анимациясы
                setTimeout(() => {
                    el.style.transform = 'translateY(-50px)';
                    el.style.opacity = '0';
                    setTimeout(() => el.remove(), 700);
                }, 5000);
            });
        </script>
    {% endif %}

    <main>
        {% block base %}
        {% endblock base %}
    </main>

    <!-- CDNs -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
    {% block js %}{% endblock js %}
</body>
</html>
