<script>
    function showFlash(message, type = "success") {
        let box = document.getElementById("flash-messages");

        if (!box) {
            box = document.createElement("div");
            box.id = "flash-messages";
            box.className =
                "fixed z-50 top-10 left-1/2 -translate-x-1/2 flex flex-col gap-2";
            document.body.appendChild(box);
        }

        const el = document.createElement("div");
        el.className =
            "flash-item flex gap-2 items-center px-4 py-2 bg-white rounded-lg shadow transition-all duration-500";

        el.innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-circle-check-icon lucide-circle-check text-green-500">
                <circle cx="12" cy="12" r="10" />
                <path d="m9 12 2 2 4-4" />
            </svg>
            <span>${message}</span>
        `;
        box.appendChild(el);

        setTimeout(() => {
            el.style.opacity = "1";
            el.style.transform = "translateY(0)";
        }, 10);

        setTimeout(() => {
            el.style.opacity = "0";
            el.style.transform = "translateY(-50px)";
            setTimeout(() => el.remove(), 600);
        }, 4500);
    }
</script>