<div 
    id="settings-modal" 
    class="hidden fixed inset-0 top-0 left-0 z-50 items-center justify-center bg-black/50"
>
    <!-- Модальды терезе контенті -->
    <div class="relative p-4 w-full max-w-3xl h-[540px]">
        <div class="relative grid md:flex bg-white rounded-xl overflow-hidden shadow h-full">
            <button
                type="button"
                id="settingsClose"
                class="absolute z-10 top-2 right-4 p-2 rounded-xl transition-all cursor-pointer hover:bg-primary-50 hover:text-primary-600 active:scale-95"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x">
                    <path d="M18 6 6 18" />
                    <path d="m6 6 12 12" />
                </svg>
            </button>
            <div class="md:w-64 sticky top-0 border-b md:border-r border-border-200">
                <div class="grid gap-2 items-start px-2">
                    <div class="flex h-12 pl-2 items-center">
                        <h2 class="text-xl font-medium">Баптаулар</h2>
                    </div>
                    <ul class="flex md:grid gap-1 mb-2 md:mb-0">
                        <li>
                            <a 
                                href="#settings/account"
                                hx-get="{% url 'dashboard:account' %}"
                                hx-target="#settingsContent"
                                hx-swap="innerHTML"
                                class="settings-tab flex gap-2 items-center p-2 rounded-xl transition-all active:scale-95 active:shadow-none hover:bg-primary-50"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                    class="lucide lucide-circle-user-icon lucide-circle-user">
                                    <circle cx="12" cy="12" r="10" />
                                    <circle cx="12" cy="10" r="3" />
                                    <path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662" />
                                </svg>
                                <span class="block">Аккаунт</span>
                            </a>
                        </li>
                        <li>
                            <a 
                                href="#settings/security"
                                hx-get="{% url 'dashboard:security' %}"
                                hx-target="#settingsContent"
                                hx-swap="innerHTML"
                                class="settings-tab flex gap-2 items-center p-2 rounded-xl transition-all active:scale-95 active:shadow-none hover:bg-primary-50"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-icon lucide-shield">
                                    <path
                                        d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z" />
                                </svg>
                                <span class="block">Қауіпсіздік</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="flex-1 overflow-y-auto">
                <div id="settingsContent" class="h-full">
                    <div id="loading" class="w-full h-full flex justify-center items-center">
                        <div class="grid text-muted text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                class="lucide lucide-ellipsis-icon lucide-ellipsis mx-auto">
                                <circle cx="12" cy="12" r="1" />
                                <circle cx="19" cy="12" r="1" />
                                <circle cx="5" cy="12" r="1" />
                            </svg>
                            <span>Жүктелуде...</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
