{% extends "layouts/auth_layout.html" %}

{% block title %}Тіркелу түрі{% endblock title %}

{% block auth_layout %}
<div class="w-full space-y-8">
    <div class="space-y-2 text-center">
        <h1 class="text-2xl font-black">Сіз кім боласыз?</h1>
        <span class="text-body">Платформаны оқушы немесе мұғалім ретінде қолдану</span>
    </div>

    <div class="grid gap-4 md:grid-cols-2">
        <a href="{% url 'main:learner-register' %}"
            class="rounded-2xl text-center border border-default bg-neutral-primary p-4 transition-all hover:border-brand active:scale-95">
            <div class="text-4xl">🎓</div>
            <h2 class="mt-5 text-xl font-bold">Оқушы</h2>
            <p class="mt-2 text-normal text-body">Дайын пәндерді өз бетінше оқу, прогресс жинау.</p>
        </a>

        <a href="{% url 'main:teacher-register' %}"
            class="rounded-2xl text-center border border-default bg-neutral-primary p-4 transition-all hover:border-brand active:scale-95">
            <div class="text-4xl">👨‍🏫</div>
            <h2 class="mt-5 text-xl font-bold">Мұғалім</h2>
            <p class="mt-2 text-normal text-body">Сыныптар құру, оқушыларға ойын тапсырмаларын ұйымдастыру.</p>
        </a>
    </div>
</div>
{% endblock %}
